@model IEnumerable<GiroLouco.Models.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inventário</h1>

<p>
    <a asp-action="Create">Criar Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idcliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idmaquina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idcliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idmaquina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.iditem">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.iditem">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.iditem">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
